body{
    background: rgb(154, 3, 141);
}
/* 
#play-view {
    margin-top: 5em;
} */
.play_container{
    background: rgb(255, 255, 255);
    border-top: 5px solid green;
    border-radius: 10px;
    padding: 20px;
    
}
#quiz {
    width:40%;
    margin: auto;
    padding: 30px;
    background: rgba(184, 182, 182, 0.669);
    border-radius: 10px;
}
.question-style{
    font-weight: bolder;
    font-size:20px;
    background: rgb(10, 174, 76);
    box-shadow: 0px 0px 3px 1px;
    color: white;
    padding: 0;
    margin: 0;
}
.quiz_score{
    position:absolute;
    top: 10em;
    bottom: 12em;
    left:36em;
    right: 1em;
    font-weight: bold;
   
}

.img-play{
    margin-top: 2em;
    margin-left: 32em;
    width: 20%;
}

#score{
    
 
    display: flex;
    justify-content: center;
    width: 30%;
    margin: auto;
   
}
#score_element {
    margin-top: 4em;
    margin-right: 2em;
    background:white;
    padding-left: 2em;
    padding-bottom: 20em;
    border-radius: 10px;
}

.bg-nav{
   
    box-shadow: 0px 0px 6px 2px ;
}
#progressbar{
    background:rgb(0, 8, 255);
    padding: 5px;
    border-radius: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

#count_style{
    display: flex;
    justify-content:flex-end;
    padding: 0;margin-right: 0;
}
#count_style  #limit_time{
    display: flex;
    background: rgba(186, 187, 191, 0.891);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius:10px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#score_p{
    position: relative;
    left: 1em;
    right: 1em;
    font-size: 20px;
    font-weight: bold;
}
#score_element .logo{
    position: absolute;
    left: 35em;
    right: 2em;
    top:8em;
    color: rgb(21, 255, 0);
}
#score_element p{
    position: absolute;
    left: 25em;
    border-radius: 10px;
    bottom: 150px;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    
}
.btn_hover:hover{
    background:green;
    color:white;

}

.bg-nave{
    display: flex;
    justify-content:center;
    align-items:center;
    /* margin-top: 1em; */
}
.nav-margin{
    margin: 5em;
}
.card{
    background: rgb(1, 118, 21);
    margin: 0px;
    padding: 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
    border-radius: 0px 0px 65px 65px;
}
.bg-color{
    background: white;
    padding: 50px;
    border-radius: 0px 0px 60px 60px;
}
.card ul{
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
.header{
    position: absolute;
    top: 0;
    left: 35%;
  
    font-size:80px;
    font-weight: bold;
    color:white;

}
.card .bg-danger li a:hover{
    background: rgb(71, 172, 239);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219);
    border-radius: 5px;
}
#emoji{
    position: absolute;
    left: 38em;
    top: 15em;
}