

#play-view {
    margin-top: 5em;
}
.play_container{
    background: rgb(255, 255, 255);
    border-top: 5px solid green;
    border-radius: 10px;
    padding: 20px;
    
}
#quiz {
    width:40%;
    margin: auto;
    padding: 30px;
    background: rgba(184, 182, 182, 0.669);
    border-radius: 10px;
}
.question-style{
    font-weight: bolder;
    font-size:20px;
    background: rgb(10, 174, 76);
    box-shadow: 0px 0px 3px 1px;
    color: white;
    padding: 0;
    margin: 0;
}

#start{
    position: absolute;
    top: 15em;
    left:29em;
    background:rgba(10, 10, 141, 0.792);
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px
}
.img-play{
    margin-top: 2em;
    margin-left: 32em;
    width: 20%;
}

#score{
    position: absolute;
    top: 140px;
    left:29em;
    background: white;
    padding: 180px 90px 90px 80px;
    border-radius: 10px;   
}
.background_img{
    background-image: url("../img/play_quiz_background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-nav{
    background: rgb(5, 31, 179);
    box-shadow: 0px 0px 6px 2px ;
}
#progressbar{
    background:rgb(0, 8, 255);
    padding: 5px;
    border-radius: 10px;
    position: relative;
    left: 10px;
    bottom: 10px;
}

#count_style{
    display: flex;
    justify-content: flex-end;
    padding: 0;margin: 0;
}
.quiz_score{
    position: relative;
    bottom: 12em;
    left:2em;
    right: 1em;
    
}
#score_p{
    position: relative;
    left: 2em;
    right: 1em;
}
.logo{
    position: relative;
    left: 4em;
    right: 2em;
    bottom: 12em;
    color: rgb(21, 255, 0);
}
#scores{
    position: relative;
    margin-left: 1em;
    border-radius: 10px;
    bottom: 150px;
    background:blue;
    color: white;
    font-weight: bold;
    padding-left: 3em;
    padding-right: 3em;
    
}
.btn_hover:hover{
    background:green;
    color:white;

}